<a href="https://colab.research.google.com/github/Lesp98/Luis_Miguel_Espinoza_Menez/blob/main/Clase4/Estructuras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehensions**

**Ejercicio 1**

use un bucle for para imprimir los números del 1 al 20, inclusive.

In [ ]:
for value in range(1, 21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**Ejercicio 2**

Haga una lista de los números del uno al millón y luego use un ciclo for para imprimir los números. (Si la salida tarda demasiado, deténgala presionando CTRL-C o cerrando la ventana de salida).

In [ ]:
one_million = range (1, 1000001)

for value in one_million:
  print(value)

**Ejercicio 3**

Haga una lista de los números del uno al millón y luego use min() y max() para asegurarse de que su lista realmente comience en uno y termine en un millón. Además, use la función sum() para ver qué tan rápido Python puede agregar un millón de números.

In [ ]:
one_million = range (1, 1000001)

In [ ]:
min(one_million)

1

In [ ]:
max(one_million)

1000000

In [ ]:
sum(one_million)

500000500000

**Ejercicio 4**

Use el tercer argumento de la función range() para hacer una lista de los números impares del 1 al 20. Use un bucle for para imprimir cada número.

In [ ]:
impares = range(1, 20, 2)

In [ ]:
for impar in impares:
  print(impar)

1
3
5
7
9
11
13
15
17
19

**Ejercicio 5**

Haga una lista de los múltiplos de 3 de 3 a 30. Use un ciclo for para imprimir los números en su lista.

In [ ]:
mult_tres = []

for value in range(1, 11):
  mult_tres.append(value*3)

print(mult_tres)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

**Ejercicio 6**

Haga una lista de los primeros 10 cubos (es decir, el cubo de cada número entero del 1 al 10) y use un ciclo for para imprimir el valor de cada cubo.

In [ ]:
cubos = []

for value in range(1, 11):
  cubos.append(value**3)

print(cubos)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**Ejercicio 7**

Use una lista de comprensión para generar una lista de los primeros 10 cubos.

In [ ]:
[x**3 for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# **Trabajando con slices**

**Ejercicio 1**

Utilizando alguna lista definida anteriormente:

Imprima el mensaje **Los tres primeros elementos de la lista son:**. Luego use un slice para imprimir los primeros tres elementos de la lista de ese programa.

Imprima el mensaje **Tres elementos de la mitad de la lista son:**. Use un slice para imprimir tres elementos del medio de la lista.

Imprima el mensaje **Los últimos tres elementos de la lista son:**. Utilice un slice para imprimir los últimos tres elementos de la lista.

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [ ]:
print('Los tres primeros elementos de la lista son: ')
players[:3]

Los tres primeros elementos de la lista son:

['charles', 'martina', 'michael']

In [ ]:
print('Tres elementos de la mitad de la lista son: ')
players[1:4]

Tres elementos de la mitad de la lista son:

['martina', 'michael', 'florence']

In [ ]:
print('Los últimos tres elementos de la lista son: ')
players[-3:]

Los últimos tres elementos de la lista son:

['michael', 'florence', 'eli']

**Ejercicio 2**

Haga una copia de la lista de pizzas y llámela friend_pizzas. Luego, haz lo siguiente:

Agregue una nueva pizza a la lista original.
Agrega una pizza diferente a la lista friend_pizzas.
Demuestra que tienes dos listas separadas. Imprima el mensaje Mis pizzas favoritas son: y luego use un bucle for para imprimir la primera lista. Imprima el mensaje Las pizzas favoritas de mi amigo son: y luego use un bucle for para imprimir la segunda lista. Asegúrese de que cada pizza nueva se almacene en la lista adecuada.

In [ ]:
pizzas = ['peperoni', 'americana', 'hawaiana', 'española']
friend_pizzas = pizzas[:]

In [ ]:
pizzas.append('tres quesos')
friend_pizzas.append('bbq')

In [ ]:
pizzas

['peperoni', 'americana', 'hawaiana', 'española', 'tres quesos']

In [ ]:
friend_pizzas

['peperoni', 'americana', 'hawaiana', 'española', 'bbq']

In [ ]:
print('Mis pizzas favoritas son: ')
for pizza in pizzas:
  print(pizza)

Mis pizzas favoritas son:
peperoni
americana
hawaiana
española
tres quesos

In [ ]:
print('Las pizzas favoritas de mi amigo son: ')
for pizza in friend_pizzas:
  print(pizza)

Las pizzas favoritas de mi amigo son:
peperoni
americana
hawaiana
española
bbq

# **Tuplas**

**Ejercicio 1**

Un restaurante estilo buffet ofrece solo cinco alimentos básicos. Piense en cinco alimentos simples y guárdelos en una tupla.

Use un bucle for para imprimir cada comida que ofrece el restaurante. Intente modificar uno de los elementos y asegúrese de que Python rechace el cambio.
El restaurante cambia su menú, reemplazando dos de los artículos con comidas diferentes. Agregue una línea que reescriba la tupla y luego use un ciclo for para imprimir cada uno de los elementos en el menú revisado.

In [ ]:
alimentos = ('Seco', 'Ceviche', 'Causa', 'Tequeños', 'Chaufa')

In [ ]:
for alimento in alimentos:
  print(alimento)

Seco
Ceviche
Causa
Tequeños
Chaufa

In [ ]:
alimentos[0] = 'Estofado'

TypeError: ignored

In [ ]:
alimentos = ('Estofado', 'Escabeche', 'Causa', 'Tequeños', 'Chaufa')

In [ ]:
for alimento in alimentos:
  print(alimento)

Estofado
Escabeche
Causa
Tequeños
Chaufa

# **Diccionarios**

**Ejercicio 1**

Usa un diccionario para almacenar información sobre una persona que conoces. Almacene su nombre, apellido, edad y la ciudad en la que vive. Debe tener claves como nombre, apellido, edad y ciudad. Imprima cada parte de información almacenada en su diccionario.

In [ ]:
persona_1 = {'Nombre': 'Luis',
             'Apellido': 'Espinoza', 
             'Edad': 24, 
             'Ciudad': 'Lima'}

In [ ]:
persona_1

{'Apellido': 'Espinoza', 'Ciudad': 'Lima', 'Edad': 24, 'Nombre': 'Luis'}

**Ejercicio 2**

Use un diccionario para almacenar los números favoritos de las personas. Piensa en cinco nombres y utilízalos como llaves en tu diccionario. Piense en un número favorito para cada persona y guárdelo como un valor en su diccionario. Escriba el nombre de cada persona y su número favorito.

In [ ]:
num_fav = {'Luis': 2, 
           'Daniela': 4,
           'Miguel': 3,
           'Esteban': 8,
           'Gabriel': 7}

In [ ]:
a = 'Luis'
print(f'El número favorito de {a} es el {num_fav[a]}')

a = 'Daniela'
print(f'El número favorito de {a} es el {num_fav[a]}')

a = 'Miguel'
print(f'El número favorito de {a} es el {num_fav[a]}')

a = 'Esteban'
print(f'El número favorito de {a} es el {num_fav[a]}')

a = 'Gabriel'
print(f'El número favorito de {a} es el {num_fav[a]}')

El número favorito de Luis es el 2
El número favorito de Daniela es el 4
El número favorito de Miguel es el 3
El número favorito de Esteban es el 8
El número favorito de Gabriel es el 7

**Ejercicio 3**

Piense en cinco palabras de programación que haya aprendido. Utilice estas palabras como llaves en su glosario y almacene sus significados como valores.

Imprima cada palabra y su significado como una salida con un formato ordenado. Puede imprimir la palabra seguida de dos puntos y luego su significado, o imprimir la palabra en una línea y luego imprimir su significado con sangría en una segunda línea. Utilice el carácter de nueva línea (\n) para insertar una línea en blanco entre cada par de palabra y significado en su salida.

In [ ]:
l_prog = {'C': 'primer',
          'C++': 'segundo',
          'VBA': 'tercer',
          'Python': 'cuarto',
          'R': 'quinto'}

In [ ]:
a = 'C'
print(f'El {l_prog[a]} lenguaje que aprendí fue {a}\n')

a = 'C++'
print(f'El {l_prog[a]} lenguaje que aprendí fue {a}\n')

a = 'VBA'
print(f'El {l_prog[a]} lenguaje que aprendí fue {a}\n')

a = 'Python'
print(f'El {l_prog[a]} lenguaje que aprendí fue {a}\n')

a = 'R'
print(f'El {l_prog[a]} lenguaje que aprenderé será {a}')

El primer lenguaje que aprendí fue C

El segundo lenguaje que aprendí fue C++

El tercer lenguaje que aprendí fue VBA

El cuarto lenguaje que aprendí fue Python

El quinto lenguaje que aprenderé será R

# **Loops con diccionarios**

**Ejercicio 1**

Haga un diccionario que contenga tres ríos principales y el país por el que pasa cada río. Un par clave-valor podría ser 'nilo': 'egipto'.

*   Use un bucle para imprimir una oración sobre cada río, como El Nilo atraviesa Egipto.
*   Utilice un bucle para imprimir el nombre de cada río incluido en el diccionario.
*   Use un bucle para imprimir el nombre de cada país incluido en el diccionario.

In [ ]:
rio_pais = {'Nilo': 'Egipto', 
             'Amazonas': 'Brasil', 
             'Yang Tse Kiang': 'China'}

In [ ]:
for rio, pais in rio_pais.items():
  print(f'El {rio} atraviesa {pais}')

El Nilo atraviesa Egipto
El Amazonas atraviesa Brasil
El Yang Tse Kiang atraviesa China

In [ ]:
for rio, pais in rio_pais.items():
  print(rio)

Nilo
Amazonas
Yang Tse Kiang

In [ ]:
for rio, pais in rio_pais.items():
  print(pais)

Egipto
Brasil
China

**Ejercicio 2**

Haz una lista de las personas que deberían participar en la encuesta de idiomas favoritos. Incluye algunos nombres que ya estén en el diccionario y otros que no. Recorra la lista de personas que deberían realizar la encuesta. Si ya han realizado la encuesta, imprima un mensaje agradeciéndoles por responder. Si aún no han realizado la encuesta, imprima un mensaje invitándoles a realizar la encuesta.

In [3]:
encuesta = {'Maria': True,
            'Juan': True,
            'Santiago': False,
            'Luis': False,
            'Ana': True}

In [4]:
for nombre, realizado in encuesta.items():
  if realizado == True:
    print(f'{nombre} gracias por responder la encuesta')
  else:
    print(f'{nombre} por favor realiza la encuesta')

Maria gracias por responder la encuesta
Juan gracias por responder la encuesta
Santiago por favor realiza la encuesta
Luis por favor realiza la encuesta
Ana gracias por responder la encuesta

# **Una lista en un diccionario**

**Ejercicio 1**

Cree tres nuevos diccionarios que representen a diferentes personas y almacene los tres diccionarios en una lista llamada personas. Recorra su lista de personas. Mientras recorre la lista, imprima todo lo que sabe sobre cada persona.

In [5]:
persona_1 = {'Nombre': 'Luis', 'Edad': 24, 'Carrera': 'Ingeniería Civil'}
persona_2 = {'Nombre': 'Daniela', 'Edad': 22, 'Carrera': 'Marketing'}
persona_3 = {'Nombre': 'Lucía', 'Edad': 18, 'Carrera': 'Medicina'}

personas = [persona_1, persona_2, persona_3]

In [8]:
for persona in personas:
  print(f"{persona['Nombre']} tiene {persona['Edad']} años y estudia {persona['Carrera']}")

Luis tiene 24 años y estudia Ingeniería Civil
Daniela tiene 22 años y estudia Marketing
Lucía tiene 18 años y estudia Medicina

**Ejercicio 2**

Haga varios diccionarios, donde cada diccionario represente una mascota diferente. En cada diccionario, incluya el tipo de animal y el nombre del dueño. Guarde estos diccionarios en una lista llamada mascotas. A continuación, recorra su lista y, mientras lo hace, imprima todo lo que sepa sobre cada mascota.

In [11]:
mascota_1 = {'Animal': 'gato', 'Dueño': 'Luis'}
mascota_2 = {'Animal': 'perro', 'Dueño': 'Daniela'}
mascota_3 = {'Animal': 'erizo', 'Dueño': 'Lucía'}

mascotas = [mascota_1, mascota_2, mascota_3]

In [12]:
for mascota in mascotas:
  print(f"{mascota['Dueño']} tiene un {mascota['Animal']}")

Luis tiene un gato
Daniela tiene un perro
Lucía tiene un erizo

**Ejercicio 3**

Haga un diccionario llamado lugares_favoritos. Piense en tres nombres para usar como llaves en el diccionario y almacene de uno a tres lugares favoritos para cada persona. Recorre el diccionario e imprime el nombre de cada persona y sus lugares favoritos.

In [23]:
lugares_favoritos = {'Luis': ['Lima', 'Cusco'],
                     'Daniela': ['Lima', 'Cusco', 'Cancún'],
                     'Lucía': ['Lima']}

In [32]:
for nombre, lugares in lugares_favoritos.items():
  print(f'\nLos lugares favoritos de {nombre} son:')

  for lugar in lugares:
    print(f'\t{lugar}')

Los lugares favoritos de Luis son:
	Lima
	Cusco

Los lugares favoritos de Daniela son:
	Lima
	Cusco
	Cancún

Los lugares favoritos de Lucía son:
	Lima

**Ejercicio 4**

Haz un diccionario llamado ciudades. Usa los nombres de tres ciudades como llaves en tu diccionario. Cree un diccionario de información sobre cada ciudad e incluya el país en el que se encuentra la ciudad, su población aproximada y un dato sobre esa ciudad. Las claves para el diccionario de cada ciudad deben ser algo como país, población y hecho. Imprime el nombre de cada ciudad y toda la información que tengas almacenada sobre ella.

In [33]:
ciudades = {'Lima': ['Perú', 9674755, 'La ciudad de los reyes'],
            'Arequipa': ['Perú', 1008000, 'La ciudad blanca'],
            'Buenos Aires': ['Argentina', 17541141, 'Capital Federal']}

In [44]:
for ciudad, datos in ciudades.items():
  print(f'\n{ciudad} (País, Población, Seudónimo)')

  for dato in datos:
    print(f'\t{dato}')

Lima (País, Población, Seudónimo)
	Perú
	9674755
	La ciudad de los reyes

Arequipa (País, Población, Seudónimo)
	Perú
	1008000
	La ciudad blanca

Buenos Aires (País, Población, Seudónimo)
	Argentina
	17541141
	Capital Federal

**Ejercicio 5**

Ahora estamos trabajando con ejemplos que son lo suficientemente complejos como para que puedan extenderse de varias maneras. Utilice uno de los programas de este laboratorio y amplíelo agregando nuevas claves y valores, cambiando el contexto del programa o mejorando el formato de la salida.

In [45]:
for ciudad, datos in ciudades.items():
  print(ciudad)

  i = 1

  for dato in datos:
    if i == 1:
      print(f'\tPaís: {dato}')
      i = i+1
      continue
    elif i == 2:
      print(f'\tPoblación: {dato}')
      i = i+1
      continue
    elif i == 3:
      print(f'\tSeudónimo: {dato}\n')

Lima
	País: Perú
	Población: 9674755
	Seudónimo: La ciudad de los reyes

Arequipa
	País: Perú
	Población: 1008000
	Seudónimo: La ciudad blanca

Buenos Aires
	País: Argentina
	Población: 17541141
	Seudónimo: Capital Federal